<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gold's Gym</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div>
  <h1>트레이너 관리</h1>
  <div>
    <h2>트레이너 추가</h2>
    <form th:action="@{/trainers}" method="post">
      <label for="nickname">이름</label><br>
      <input type="text" id="nickname" name="nickname"><br>

      <label for="birth">생년월일</label><br>
      <input type="text" id="birth" name="birth"><br>

      <label for="sex">성별</label><br>
      <select id="sex" name="sex">
        <option value="MALE">남자</option>
        <option value="FEMALE">여자</option>
      </select><br>

      <label for="phone">연락처</label><br>
      <input type="tel" id="phone" name="phone"><br>

      <label for="address">주소</label><br>
      <input type="text" id="address" name="address"><br><br>

      <button id="submit" type="submit">등록</button>
    </form>
  </div>
  <div>
    <h2>트레이너 목록</h2>
    <table>
      <tr>
        <th>이름</th>
        <th>생년월일</th>
        <th>성별</th>
        <th>연락처</th>
        <th>주소</th>
        <th>자격증</th>
        <th>PT</th>
        <th>비고</th>
      </tr>
      <tr th:each="trainer : ${trainerLists}">
        <td th:text="${trainer.nickname}"></td>
        <td th:text="${trainer.birth}"></td>
        <td th:text="${trainer.sex}"></td>
        <td th:text="${trainer.phone}"></td>
        <td th:text="${trainer.address}"></td>
        <td><button>보기</button></td>
        <td><button>보기</button></td>
        <td><button>삭제</button></td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>