<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gold's Gym</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/trainerLicense.css}">
</head>
<body>
<div>
  <div>
    <h1>자격증 관리</h1>
    <div>
      <h2>자격증 추가</h2>
      <form method="post">
        <label for="licenseName">자격증명</label><br>
        <input type="text" id="licenseName" name="licenseName"><br>

        <label for="licenseGrade">등급</label><br>
        <input type="text" id="licenseGrade" name="licenseGrade"><br>

        <label for="licenseEvent">종목</label><br>
        <input type="text" id="licenseEvent" name="licenseEvent"><br>

        <label for="licenseCreateDate">취득일</label><br>
        <input type="tel" id="licenseCreateDate" name="licenseCreateDate"><br>

        <label for="licenseExpireDate">만료일</label><br>
        <input type="text" id="licenseExpireDate" name="licenseExpireDate"><br><br>

        <button id="submit" type="submit">등록</button>
      </form>
    </div>
  </div>
  <div>
    <form method="post">
      <h2>자격증 목록</h2>
      <table>
        <tr>
          <th>자격증명</th>
          <th>등급</th>
          <th>종목</th>
          <th>유효기간</th>
          <th>비고</th>
        </tr>
        <tr th:each="license : ${licenseLists}">
          <td th:text="${license.licenseName}"></td>
          <td th:text="${license.licenseGrade}"></td>
          <td th:text="${license.licenseEvent}"></td>
          <td th:text="${license.licenseCreateDate + '~' + license.licenseExpireDate}"></td>
          <td>
            <form action="/licenses/remove" method="post">
              <input type="hidden" name="licenseId" th:value="${license.id}">
              <input type="hidden" name="trainerId" th:value="${trainerId}">
              <button type="submit">삭제</button>
            </form>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
</body>
</html>