body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.header h1 {
    font-size: 30px;
}
.header p a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.header p a:hover {
    color: gold;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
}

button:hover {
    background-color: #444;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
